# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos grandes que no quieres subir
*.dll
*.exe
